{% extends 'base.html' %}

{% block content %}
  <div class="container my-3">
    <h1>리뷰</h1>
    <h3>영화 제목 :
      {{ review.movie_name }}
    </h3>
    <h3>영화 평점 :
      {{ review.grade }}
    </h3>
    <p>리뷰 제목 :
      {{ review.title }}
    </p>
    <p>리뷰 내용 :
      {{ review.content }}
    </p>
    <p>리뷰 생성시간 :
      {{ review.created_at }}
    </p>
    <p>리뷰 수정시간 :
      {{ review.updated_at }}
    </p>
    <a href="{% url 'reviews:update' review.pk %}"><input type="submit" class="btn btn-warning " value="수정"></a>
    <form action="{% url 'reviews:delete' review.pk %}" method="POST">
      {% csrf_token %}
      <button class="btn btn-danger" type="submit">
          삭제
        </button>    
  </form>
  </div>
{% endblock %}